body{
    background-color: black;
    color:white;
    font-family: 'Della Respira', serif;
}
h5{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: rgb(0, 128, 255);
}

#secondsection{
    background-color:rgba(255, 255, 255, 0.917) ;
    color: black;
}
.thirdsection{
    background-color:rgba(255, 255, 255, 0.917) ;
    color: black;
}
img{
    border-radius: 30%;
    margin-right: auto;
    height: 320px;
    width: 240px;
}
#videosection{
    align-items: center;
    font-size: 50px;
    font-weight: 500;
}
